<div class="box">
  <ngx-at-chip-input placeholder="custom placeholder" [formControl]="chipList"></ngx-at-chip-input>
  <div class="data-container">
    <label class="label">Form Control Value:</label>
    <div class="info">{{chipListFormValue}}</div>
  </div>
</div>

<div class="box mt-2">
  <ngx-at-chip-input placeholder="custom placeholder" [chipArray]="chipArray" (chipListChange)="chipListChangeHandler($event)"></ngx-at-chip-input>
  <div class="data-container">
    <label class="label">Emitted Value:</label>
    <div class="info">{{chipInputEmittedData}}</div>
  </div>
</div>
